.rollerItem-blue {
	background-image: linear-gradient(transparent 60%, rgba(68, 130, 255, 0.15));
}
.rollerItem-red {
	background-image: linear-gradient(transparent 60%, rgba(255, 68, 93, 0.15));
}
.rollerItem-yellow {
	background-image: linear-gradient(transparent 60%, rgba(220, 174, 100, 0.15));
}
.rollerItem-purple {
	background-image: linear-gradient(transparent 60%, rgba(164, 26, 255, 0.15));
}
