@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	body {
		@apply bg-slate-900;
		@apply font-inter;
	}
}

.rollerItem-blue {
	background-image: linear-gradient(transparent 0%, rgba(68, 130, 255, 0.2));
}
.rollerItem-red {
	background-image: linear-gradient(transparent 0%, rgba(255, 68, 93, 0.2));
}
.rollerItem-yellow {
	background-image: linear-gradient(transparent 0%, rgba(220, 174, 100, 0.2));
}
.rollerItem-purple {
	background-image: linear-gradient(transparent 0%, rgba(164, 26, 255, 0.2));
}
.rollerItem-pink {
	background-image: linear-gradient(transparent 0%, rgba(223, 93, 238, 0.2));
}

.radialItem-blue {
	background-image: radial-gradient(
		circle,
		rgba(15, 23, 42, 0) 0%,
		rgba(68, 130, 255, 0.2) 100%
	);
}

.radialItem-red {
	background-image: radial-gradient(
		circle,
		rgba(15, 23, 42, 0) 0%,
		rgba(255, 68, 93, 0.2) 100%
	);
}

.radialItem-purple {
	background-image: radial-gradient(
		circle,
		rgba(15, 23, 42, 0) 0%,
		rgba(164, 26, 255, 0.2) 100%
	);
}

.radialItem-pink {
	background-image: radial-gradient(
		circle,
		rgba(15, 23, 42, 0) 0%,
		rgba(223, 93, 238, 0.2) 100%
	);
}

.radialItem-yellow {
	background-image: radial-gradient(
		circle,
		rgba(15, 23, 42, 0) 0%,
		rgba(220, 174, 100, 0.2) 100%
	);
}

.thinScrollBar::-webkit-scrollbar-track {
	border-radius: 10px;
	background-color: #f5f5f5;
}

.thinScrollBar::-webkit-scrollbar {
	border-radius: 10px;
	height: 7px;
	width: 7px;
	background-color: #f5f5f5;
}

.thinScrollBar::-webkit-scrollbar-thumb {
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
	background-color: #cccccc;
}
